@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --cor-principal:#F9CAB4;
    --cor-secundaria: #D08270;
    --cor-terciaria:#FFDECF;
    --fonte-principal:"Questrial";
}

*{
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

body{
    background: var(--cor-principal);
}

.informacoes__titulo{
    font-size: 36px;
}

.informacoes__botoes{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.informacoes__botao{
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 32px 24px;
    background-color: var(--cor-terciaria);
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.icone{
    font-size: 40px;
}